  /*--------------------------------------------------Cashback Section--------------------------------------------*/
  
    .cashback-section{
      background-color:#f4f4f4;
      height: 450px;
      width: 100%;
    }
  
    .cashback-container{
      display:flex;
      justify-content: space-evenly;
    }
   
    .cashback-text{
      width:30%;
      justify-content: center;
      align-items: center;
    }
    .cashback-text h3{
      text-align: center;
      font-size:38px;
      margin-bottom:20px;
    }
    .cashback-text h3:after{
      display: block;
      height: 1px;
      background-color:#aa042c;
      content:" ";
      width: 100px;
      margin: 0 auto;
      margin-top: 10px;
    }
  
    .cashback-text p{
      font-size:22px;
      text-align: justify;
    }
  
    .cashback-card{
      border: 2px solid #aa042c;
      width:50%;
      max-height:500px;
      background: linear-gradient(to right, #f4f4f4 10%, #aa042c 100%);
      box-shadow: 20px 15px 30px rgb(0, 0, 0); ;
      display: flex;
    }
    .card-text{
      width:50%;
      color:#000;
    }
    .card-text h3{
      font-size: 25px;
      text-align: center;
      margin-bottom: 15px;
    }
    .card-text p{
      text-align: justify;
      font-size:18px;
      padding:10px;
    }
    .card-background{
      background-image: url(./../../assets/40077.jpg);
      background-size:500px;
      background-position: center;
      height: 100%;
      width: 50%;
      overflow: hidden;
    }
    @media only screen and (max-width: 1110px){
      .cashback-section{
        height:500px;
      }
      .cashback-section h2{
        font-size: 25px;
      }
      .card-text h3{
        font-size: 20px;
        text-align: center;
        margin:0;
      }
      .card-text p{
        font-size:15px;
      }
      .cashback-card{
        height:300px;
      }
      .cashback-text h3{
        font-size: 20px;
      }
      .cashback-text p{
        font-size: 18px;
      }
    }

    @media only screen and (max-width: 768px){
      
      .cashback-container{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
      }
      .cashback-card{
        height:150px;
        width: 80%;
        margin-bottom:25px;
      }
      
      .card-text p{
        font-size:11px;
        padding:10px;
      }
      .cashback-text {
        width:80%;
      }
      .cashback-text h3,
      .cashback-text p{
        font-size: 20px;
      }
    }
    @media only screen and (max-width: 680px){
      .card-text p{
        display:none;
      }
    }

    @media only screen and (max-width: 480px){
      .card-text h3{
        font-size: 20px;
        height: 100%;
      }
      .cashback-text p{
        font-size: 15px;
      }
    }