/*---------------------------------------------PROXIMA SEÇÃO-------------------------------------------------*/
.proxima-seção{
    position: absolute;
    display: block;
    bottom: 1px;
    z-index: 1;
    font-size:27px;
  }
  .proxima-seção a{
      color:#000;
  }
  .proxima-seção a:link,
  .proxima-seção a:active{
      transition: all 0.7s ease;
  }
  .proxima-seção a:hover,
  .proxima-seção a:active{
    color:#910326;
  }
/*--------------------------------------------SEÇÃO GUIA----------------------------------------------------*/
.guide-main{
  height:90vh;
  width: 100%;
  display:flex;
  flex-direction: row;
 justify-content: space-evenly;
}
.main-text{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 33vw;
    text-align: justify;
    height:45vh;
    margin-left:100px;
  }
  .main-text h1{
    font-size: 40px;
    text-align:justify;
  }
  .main-text h2{
    font-size: 30px;
    text-align:justify;
    width:33vw;
  }
  .main-text p{
    font-size: 20px;
    text-align:justify;
    color:#747474;
    width:33vw;
  }
  .ilustration-div{
  height:auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right:100px;
}
  .main-img{height:60vh;}
/*-------------------------------------------------pagina modal---------------------------------------------*/
  .modal-box{
    height:90%;
    width:600px;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .close-button{  
    align-self: flex-end;
    font-size: 35px;
    margin-right: 10px;
  }
  .phone-icon-div{
    display: flex;
    justify-content: center;
    align-items:center;
    align-self: center;
    font-size: 30px;
    color: #aa042c;
    border: 2px solid #aa042c;
    height:60px;
    line-height: 60px;
    width: 60px;
    border-radius: 30px;
  }
  .modal-text{
    text-align: center;
    margin: 10px 0;
  }
  .modal-text h2{
    font-size: 30px;
    margin: 10px 0;
  }
  .modal-text p{
    font-size: 20px;
  }
  .modal-download{
    height:100px;
    width:200px;
    transition: transform .2s;
  }
  .modal-download:hover{
    transform:scale(1.1);
  }
  .modal-download:first-child{
    margin-right: 20px;
  }
  .imagem-modal-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width: 500px;
  }
  .modal-ilustration{
    height: 500px;
    width: 500px;
  }
/*-----------------------------------------botões-------------------------------------------------------------*/
.btn-vazio,
.btn-cheio{
    text-align:center;
    display:inline-block;
    padding: 10px 30px;
    font-size:20px;
    border-radius: 200px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    background:transparent;
    border:none;
    cursor: pointer;
}

.btn-vazio{
  border: 2px solid #aa042c;
  color:#aa042c;
  margin-right:30px;
}

.btn-cheio{
  border: 2px solid #da0637;
  background-color:#da0637;
  color:#fff;
}

.btn-vazio:hover,
.btn-vazio:active,  
.btn-cheio:hover,
.btn-cheio:active{
  background-color:#910326;
  box-shadow: 1px 7px 10px rgb(0, 0, 0);
  outline:none;
  transition: all 0.7s ease;
  border: 2px solid #910326;
}

.btn-vazio:hover,
.btn-vazio:active{
  color:#ffe;
}

.btn-container{
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  min-width: 100px;
  max-width: 600px;
}

@media only screen and (max-width: 1350px) {
  .btn-container{
      flex-direction: column;
  }
  .btn-vazio,
  .btn-cheio{
      margin: 20px 0;
  }
  .btn-vazio{
      margin:0;
  }
}

@media only screen and (max-width: 1180px) {
  .modal-box{
    height:70%;
    width:400px;
  }
  .close-button{  
    align-self: flex-end;
    font-size: 35px;
    margin-right: 10px;
  }
  .phone-icon-div{
    font-size: 20px;
    height:40px;
    line-height: 40px;
    width: 40px;
    border-radius: 20px;
  }
  .modal-text h2{
    font-size: 20px;
  }
  .modal-text p{
    font-size: 15px;
  }
  .modal-download{
    height:100px;
    width:150px;
  }
  .imagem-modal-container{
    height: 300px;
    width: 300px;
  }
}
@media only screen and (max-width: 768px){
  .guide-main{
      flex-direction: column;
      height: 450px;
  }
  .main-text{
      width:60vw;
      margin: 0;
  }
  .main-text h1,
  .main-text h2,
  .main-text p{
      width:100%;
  }
  .main-text h1{
    font-size:30px;
  }
  .main-text h2{
    font-size:25px;
  }
  .ilustration-div{
      display:none;
  }
  .proxima-seção{
      display:none;
  }
  .mobile-icone{
      display:block;
  }
  .modal-box{
    height:100%;
    width:100%;
  }
  .close-button{  
    align-self: flex-end;
    font-size: 40px;
    margin-right: 20px;
  }
  .phone-icon-div{
    font-size: 40px;
    height:80px;
    line-height: 80px;
    width: 80px;
    border-radius: 40px;
  }
  .modal-text h2{
    font-size: 30px;
  }
  .modal-text p{
    font-size: 20px;
  }
  .modal-download{
    width:150px;
    height:50px;
  }
  .imagem-modal-container{
    height: 400px;
    width: 400px;
  }
}
  @media only screen and (max-width: 540px){
    .modal-download{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height:50px;
    }
    .imagem-modal-container{
      height: 300px;
      width: 300px;
    }
  }

  @media only screen and (max-width: 480px){
    .modal-download{
      width:150px;
      height:50px;
    }
    .imagem-modal-container{
      width: 200px;
    }
  }

@media only screen and (max-width: 420px){
  .main-text h1{
    font-size: 15px;
  }
  .main-text h2{
    font-size: 15px;
    margin-bottom:10px;
  }
  .main-text p{
    font-size: 12px;
  }
  .btn-vazio,
  .btn-cheio{
    font-size: 13px;
  }
  .modal-text h2{
    font-size: 20px;
  }
  .modal-text p{
    font-size: 15px;
  }
  .modal-download{
    width:150px;
    height:50px;
  }
}
