footer{
    background-color:#333;
    padding:40px 0;
    font-size: 80%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly; 
    width:100%;
  }
  .footer-nav{
    list-style: none;
    float:left;
  }
  .social-links{
    list-style:none;
    float:right;
  }
  .footer-nav li,
  .social-links li{
    display:inline-block;
    margin-right:20px;
  }
  .footer-text{
    color:#888;
  }
  .footer-nav li:last-child,
  .social-links li:last-child{
    margin-right:0;
  }
  .footer-nav li a:link,
  .footer-nav li a:visited,
  .social-links li a:link,
  .social-links li a:visited{
    text-decoration: none;
    border:0;
    color:#888;;
    transition: color 0.2s;
  }
  .footer-nav li a:hover,
  .footer-nav li a:active,
  .social-links li a:hover,
  .social-links li a:active{
    color:#ddd;
  
  }
  .social-links li a:link,
  .social-links li a:visited{
    font-size:160%;
  }
  .facebook{
    margin-left:80px;
  }
  .facebook,
  .twitter,
  .instagram{
    transition: color 0.2s;
  }
  .facebook:hover{
    color:#3b5998;
  }
  .twitter:hover{
    color:#00aced;
  }
  .instagram:hover{
    color:#517fa4;
  }
  
  @media only screen and (max-width: 1100px){
    footer{
      flex-direction: column;
      justify-content: center;
      width:100%;
    }
    .nav,
    .footer-text,
    .social{
      margin-bottom: 5px;
    }
    .footer-nav{
      display: flex;
      justify-content: space-around;
      width: 100%;
    }
    .footer-text{
      text-align: center;
    }
    .social{
      display:flex;
      align-self: center;
      width:50%;
    }
    .social-links{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .social-links li{
      margin:0;
    }
    .facebook{
      margin:0;
    }
  }
  @media only screen and (max-width: 768px){
    footer{
      width:100%;
      font-size: 10px;
      padding:10px 0 0 0;
    }
    .footer-nav{
      justify-content: space-around;
      flex-wrap: wrap;
  }
}