footer{
    background-color:#333;
    padding:40px;
    font-size: 80%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .footer-nav{
    list-style: none;
    float:left;
  }
  .social-links{
    list-style:none;
    float:right;
  }
  .footer-nav li,
  .social-links li{
    display:inline-block;
    margin-right:20px;
  }
  .footer-text{
    color:#888;
  }
  .footer-nav li:last-child,
  .social-links li:last-child{
    margin-right:0;
  }
  .footer-nav li a:link,
  .footer-nav li a:visited,
  .social-links li a:link,
  .social-links li a:visited{
    text-decoration: none;
    border:0;
    color:#888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
  }
  .footer-nav li a:hover,
  .footer-nav li a:active,
  .social-links li a:hover,
  .social-links li a:active{
    color:#ddd;
  
  }
  .social-links li a:link,
  .social-links li a:visited{
    font-size:160%;
  }
  .facebook{
    margin-left:80px;
  }
  .facebook,
  .twitter,
  .instagram{
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
  }
  .facebook:hover{
    color:#3b5998;
  }
  .twitter:hover{
    color:#00aced;
  }
  .instagram:hover{
    color:#517fa4;
  }
  
  